.rootContainer {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 5vh;
	padding-bottom: 5vh;
}

.tagLogo {
	object-fit: contain;
	height: 15rem;
	width: 15rem;
	cursor: pointer;
}

.header {
	text-align: center;
}

.subHeader {
	text-align: center;
}

.ctaContainer {
	display: flex;
	flex-direction: column;
	padding-top: 5vh;
	gap: 1.5rem;
}

.button {
	display: flex;
	color: #004aad;
	font-size: 2rem;
}

.paymentLogo {
	object-fit: contain;
	height: 8rem;
	width: 8rem;
}

.buttonContainer {
	display: flex;
	flex-direction: column;
	background-color: white;
	align-items: flex-start;
	justify-content: flex-start;
	border-radius: 3rem;
	cursor: pointer;
}

.headerContainer {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	padding-left: 0.3rem;
	padding-right: 1rem;
}

.qrImage {
	object-fit: contain;
	height: 40vh;
	width: 100%;
	margin-bottom: 1rem;
}

.notes {
	color: #004aad;
	margin: 0px 0px 0px 0px;
}

.notesWhite {
	color: white;
	margin: 0px 0px 0px 0px;
}

.paymentExpandedView {
	margin-top: 1rem;
	margin-bottom: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.paymentName {
	font-weight: 500;
	display: flex;
	color: #004aad;
	font-size: 2rem;
}

.paymentNumber {
	font-weight: normal;
	display: flex;
	color: #004aad;
	font-size: 1.5rem;
}

.headerContent {
	display: flex;
	flex-direction: column;
	height: 8rem;
	justify-content: center;
	align-items: flex-start;
}

.linksContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 5vh;
}

.links {
	cursor: pointer;
}

.instruction {
	text-align: center;
	color: white;
}

@media screen and (max-width: 900px) {
	.ctaContainer {
		display: flex;
		flex-direction: column;
		padding-top: 5vh;
		gap: 1.5rem;
		width: 85%;
	}

	.paymentName {
		font-weight: 500;
		display: flex;
		color: #004aad;
		font-size: 1.2rem;
	}

	.paymentNumber {
		font-weight: normal;
		display: flex;
		color: #004aad;
		font-size: 1.5rem;
	}

	.paymentLogo {
		object-fit: contain;
		height: 5rem;
		width: 5rem;
	}

	.headerContent {
		display: flex;
		flex-direction: column;
		height: 5rem;
		justify-content: center;
		align-items: flex-start;
		margin-left: 0.5rem;
	}
}
